<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/image/weather.png">
</head>

<body>
       <div class='main-content'>
       {{>headers}}
        <img class='potrait' src="/image/Logo.jpg">
        </div>

       {{>footers}}
</body>

</html>